# Python
__pycache__/
*.pyc
venv/

# OS
.DS_Store
Thumbs.db

# Media / Data
*.jpg
*.png
*.mp4
*.avi

# Logs
*.log

# Model files
*.task

# =========================
# Biometric & Sensitive Data
# =========================

captured_images/
golden_meshes/

# Optional safety (if you add these later)
*.jpg
*.png
*.json
